body {
    background-color: #f8f8f8;
}

.logo__image {
    width: 100px;
}

.menu {
    list-style-type: none;
}

.menu__link {
    color: blue;
    text-decoration: none;
    font-size: 19px;
    font-style: italic;
}

.menu__link_hover:hover {
    color: rgb(30, 193, 63);
}

.catalog-product-img {
    width: 200px;
}

.catalog-product-img_hover:hover {
    border-color: transparent;
}

.catalog-product-img_style {
    border: 7px solid #186c9e;
}

/* Заголовки на странице с товаром */
.product-headings {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.short-description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.short-description::first-letter, .detailed-description::first-letter {
    font-size: 25px;
    font-style: italic;
    color: blue;
}

.detailed-description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.product-characteristics {
    list-style-image: url(img/marker.gif)
}

.product-characteristics__value {
    font-size: 17px;
    font-weight: 600;
}

.product-characteristics-table {
    border: 1px solid black;
    border-collapse: collapse;
}

.product-characteristics-table td {
    border: 1px solid black;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}

.feedback-form__input {
    height: 20px;
    width: 250px;
    font-size: 14px;
    color: black;
}

.feedback-form__input_email-focus:focus {
    background-color: yellow;
    color: black;
}

.feedback-form__input_first-letter:focus {
    text-transform: capitalize;
}


.feedback-form__textarea {
    height: 200px;
    width: 300px;
}